<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<h3>Posts:</h3>
<% @user.posts.each do |post| %>
	<%= render 'shared/summary', post: post %>
<% end %>

<h3>Comments:</h3>
<% if @user.comments.count == 0 %>
  No comments found
<% else %>
  <% @user.comments.each do |comment| %>
    <%= render 'comments/comment', comment: comment %>
  <% end %>
<% end %>

<h3>Votes:</h3>
Up Votes: <%= @upvotecount %><br />
Down Votes: <%= @downvotecount %>
