  		<div class="post">
        <div class="url">
    		  <%= link_to post.url, "http://" + post.url %>
        </div>
        <div class="description">
          <%= post.description %>
        </div>
    		Poster: <%= link_to post.user.name, user_path(post.user_id) %>
        Comments: <%= link_to post.comments.count, post_path(post.user_id) %>
        <div class="view">
          <%= link_to 'View', post %>
        </div>
      </div>

