<p id="notice"><%= notice %></p>

<p>
	<%= @post.description %>
  <%= @post.url %>
</p>

<div>
<%= link_to "Add Comment", new_comment_path(id: @post.id) %>
</div>

<div>
	Comments<br />
	<br />

	<% @post.comments.each do |f| %>
		<div style="comment">
			<%= f.comment %><br />
			<%= f.user.name %>
		</div><br />
	<% end %>
</div>