<p id="notice"><%= notice %></p>

<%= render 'shared/summary', post: @post %>

<% @post.comments.each do |comment| %>
	<%= render 'comments/comment', comment: comment %>
<% end %>


<div>
	<%= form_for Comment.new, :remote => true do |f| %>
			<%= f.label :comment %><br />
			<%= f.text_field :comment %>
	    <%= f.label :user_id %><br />
	    <%= f.select( :user_id, 
	    		User.all.map { |e| [e.name, e.id] }) %>
	    <%= f.hidden_field :post_id, value: @post.id %><br />
	    <%= f.submit "Add comment" %>
	<% end %>

</div>	