<p id="notice"><%= notice %></p>

<%= render 'shared/summary', post: @post %>

<%= link_to "Add Comment", new_comment_path(id: @post.id), class: "btn btn-primary" %>

<div>
	Comments<br />
	<br />

	<% @post.comments.each do |f| %>
		<div style="comment">
			<%= f.comment %><br />
			<%= f.user.name %>
		</div><br />
	<% end %>
</div>